*.kpt
*.cdb
*.hdb
*.qmsg
*.rdb
*.ddb
*.xml
*.logdb
*.db_info
*.hif
*.idb
*.hier_info
*.html
*.txt
*.sci
*.tdb
*.mti
*.qpf
*.dat
*.bak
_info
_vmake
*.dbs
*.psm
*.dbs
*.prw
*.psm
*.qws
*.mpf
*.rpt
*.done
*.summary
*.pin
*.pof
*.ini
msim_transcript
*.sft
README
*.tmw_info
*.ammdb
*.qsf
*.smsg
*.jdi
*.vho
*.xrf
*.do
*.sdo
*.wlf
*.vnd
*.vt
*.vcd
*.vo
*.qns
*.vwf
transcript
*.nvd
*.bak1
*.csd